



@keyframes background { 
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}


body {
  background-image : linear-gradient(45deg, white 0%, black 100%);
  background-repeat: no-repeat;
  background-size: 500% 500%;  
  height: 100%;
  width: 100%;
  animation: background 10s ease infinite;
  
}



.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:white;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:red;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:black;
    font-size:19px;
}


.buttons a:nth-child(1){
       border:1px solid black !important;
       color:black;
       height:40px;
}

.buttons a:nth-child(1):hover{
       border:1px solid black !important;
       color:#fff;
       height:40px;
       background-color:black;
}

.buttons a:nth-child(2){
       border:1px solid black !important;
       background-color: black;
       color:#fff;
        height:40px;
}

.buttons a:nth-child(2):hover{
       border:1px solid black !important;
       color:#fff;
       height:40px;
       background-color:black;
}